<!DOCTYPE html>
<html lang="ru">
  @@include("./template/head.html")
  <body>
    <div class="wrapper">
      <section class="section section1">
        <div class="logo-content">
          <a href="/" class="logo">
            <img src="./img/logo1.png" alt="ABL" />
          </a>
          <div class="logo-slogan">Лето 2022</div>
          <div class="slogan-mini">Москва</div>
        </div>
      </section>
      <section class="section section-support">
        <div class="section-container">
          <h2 class="section-header">Сопровождение матчей</h2>

          <div class="supports">
            <div class="supports-item">
              <div class="supports-item-img">
                <img src="./img/cam.png" alt="" />
              </div>
              <div class="supports-item-text">Прямой эфир</div>
            </div>

            <div class="supports-item">
              <div class="supports-item-img">
                <img src="./img/photo.png" alt="" />
              </div>
              <div class="supports-item-text">Фото</div>
            </div>

            <div class="supports-item">
              <div class="supports-item-img">
                <img src="./img/mic.png" alt="" />
              </div>
              <div class="supports-item-text">Комментаторы</div>
            </div>

            <div class="supports-item">
              <div class="supports-item-img">
                <img src="./img/play.png" alt="" />
              </div>
              <div class="supports-item-text">Хайлайты</div>
            </div>

            <div class="supports-item">
              <div class="supports-item-img">
                <img src="./img/mic2.png" alt="" />
              </div>
              <div class="supports-item-text">Подкасты</div>
            </div>

            <div class="supports-item">
              <div class="supports-item-img">
                <img src="./img/plus.png" alt="" />
              </div>
              <div class="supports-item-text">Врач</div>
            </div>

            <div class="supports-item">
              <div class="supports-item-img">
                <img src="./img/graph.png" alt="" />
              </div>
              <div class="supports-item-text">Онлайн статистика</div>
            </div>

            <div class="supports-item">
              <div class="supports-item-img">
                <img src="./img/graph2.png" alt="" />
              </div>
              <div class="supports-item-text">Мобильная инфографика</div>
            </div>

            <div class="supports-item">
              <div class="supports-item-img">
                <img src="./img/social.png" alt="" />
              </div>
              <div class="supports-item-text">Живые соцсети</div>
            </div>

            <div class="supports-item">
              <div class="supports-item-img">
                <img src="./img/emotion.png" alt="" />
              </div>
              <div class="supports-item-text">Семейная атмосфера</div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section2">
        <div class="section-container">
          <h2 class="section-header">Дивизионы и место проведения</h2>
          <div class="devison">
            <div class="devison__item">
              <img src="./img/sec2-1.png" alt="location" />
            </div>
            <div class="devison__item">
              <img src="./img/sec2-1.png" alt="location" />
            </div>
            <div class="devison__item">
              <img src="./img/sec2-1.png" alt="location" />
            </div>
          </div>
          <div class="location-block">
            <div class="location-block__img">
              <img src="./img/sec2-1.png" alt="location" />
            </div>
            <div class="location-block__content">
              <div class="location-block__head">Зал кампус</div>
              <div class="location-block__address">2Я Магистральная 16 С1</div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-date">
        <div class="section-container">
          <h2 class="section-header">Формат турнира</h2>
          <div class="elem">
            <div class="elem-item">
              <div class="elem-text">
                Регулярный <br />
                чемпионат
              </div>
            </div>
            <div class="elem-item elem-item-plus">+</div>
            <div class="elem-item">
              <div class="elem-text">Плей-офф</div>
            </div>
          </div>
          <div class="subtext">
            11 июня - 28 августа
            <br />
            <span class="white"> 12 игровых недель подряд </span>
          </div>
          <div class="gradient-border"></div>

          <div class="coment">
            <span class="red">4</span> периода по <span class="red">12</span> минут грязного времени
            <br />
            Игры каждые выходные
          </div>
        </div>
      </section>
      <section class="section section-price">
        <div class="section-container">
          <h2 class="section-header">Цена</h2>

          <div class="price-default price-default--first">
            <div class="price-default__price">3000 Р</div>
            <div class="price-default__sub">Разовый организационный взнос</div>
          </div>

          <div class="price-default">
            <div class="price-default__price">6000 Р</div>
            <div class="price-default__sub">Стоимость одной игры</div>
          </div>
        </div>
      </section>
      <section class="section section-contacts">
        <div class="section-container">
          <h2 class="section-header">Как заявиться?</h2>
          <div class="contacts contacts--one">
            <div class="contacts-line">
              <div class="contacts-item">
                <div class="contacts-head">Максим Стародубов</div>
                <a href="tel: +7 (903) 232-42-81">+7 (903) 232-42-81</a>
              </div>
            </div>
          </div>

          <div class="contacts__footer">
            <a href="AblMoscow.ru" target="_blank">AblMoscow.ru</a>

            <a href="http://VK.COM/ABLRUSSIA" target="_blank">VK.COM/ABLRUSSIA</a>
          
            <a href="T.ME/ABLMSC" target="_blank">T.ME/ABLMSC</a>
          </div>
        </div>
      </section>
    </div>
    @@include("./template/scripts.html")
  </body>
</html>
